<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464225649501-f90clpkimqb20l7lp1hm655ic4ol58qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464225649501-f90clpkimqb20l7lp1hm655ic4ol58qa</string>
	<key>API_KEY</key>
	<string>AIzaSyB1MCp_TsIkSffSBk5wKbfTZVTtf-SOmPk</string>
	<key>GCM_SENDER_ID</key>
	<string>464225649501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dditzy.zuzu</string>
	<key>PROJECT_ID</key>
	<string>zuzu-e007e</string>
	<key>STORAGE_BUCKET</key>
	<string>zuzu-e007e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464225649501:ios:9ee354eb719a8c7c231eb4</string>
</dict>
</plist>